.textBox {
    width: 75%;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: gray;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 300px;
    border-radius: 20px;
}

.textDisplay {
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
}

.textArea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

::-webkit-scrollbar {
   width: 1px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 100px;
}